@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,400&family=Roboto+Slab:wght@700&display=swap');

.navigation {
  list-style: none;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #939699;

}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  width: 95px;
  height: 40px;
  background: #4592FF;
  border-radius: 20px;
  font-family: 'Lato',
    sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-icon {
  margin-right: 10px;
}