@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
}

body {

  font-family: 'Lato', sans-serif;
}

.header {
  padding: 15px 0;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}



.navigation-link {
  text-decoration: none;

  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #939699;

}

.button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4592FF;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-icon,
.button-price {
  margin-right: 10px;
}

.button-icon:last-child {

  margin-right: 0;
  margin-left: 10px;
}

.slide {

  padding-top: 90px;
  padding-bottom: 110px;
}

.slide-1 {
  background: url(../img/slide-image-1.png) no-repeat top right 27%;
  background-color: #B4D1E0;
  padding-top: 90px;
  padding-bottom: 110px;
}

.label {

  color: #FFFFFF;
  border-radius: 3px;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 12px;
  background-color: #3DC47E;
  border-radius: 3px;

}

.slide-title {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  color: #262D33;

  margin-top: 20px;
  margin-bottom: 15px;
}

.slide-description {
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  margin-bottom: 40px;
}

.slider {
  position: relative;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  background-color: transperent;
}

.slider-button {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.card {

  min-height: 370px;
  border-radius: 10px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 46px;
  padding-bottom: 70px;
}

.card-1 {
  background: #E5E5E5 url(../img/card-image-1.jpg) no-repeat top right;
  background-size: cover;

}


.card-title {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  margin: 0;
}

.card-text {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #4B5157;
  padding-top: 15px;
  margin-bottom: 25px;
  max-width: 175px;
}

.card-2 {
  background: url(../img/card-image-2.jpg) no-repeat top right;
  background-size: cover;

}

.text-light {
  color: #fff;
}

.card-3 {
  padding-top: 35px;
  background: #CCD5E6 url(../img/card-image-3.png) no-repeat top right 10%;
  background-size: contain;
  margin-top: 30px;

}

.card-4 {
  padding-top: 35px;
  padding-left: 25px;
  background: #FF4F52 url(../img/card-image-4.png) no-repeat top right;
  background-size: contain;
  margin-top: 30px;

}



.card-title.large {
  max-width: 420px;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-text.large {
  max-width: 320px;
  font-family: 'Lato', sans-serif;

  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.card-price {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}